.navbar {
	background-color: #007bb6;
}

footer .navbar {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.navbar-brand {
	position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.container-fluid a {
	color: #fff !important;
	text-decoration: none;
	transition: .3s;
}

.container-fluid a:hover {
	color: #5bc0de !important;
}

.container-fluid h3 {
	text-align: center;
}

footer .container-fluid {
    padding-right: 25px;
    padding-top: 15px;
}