body {
	font-family: 'Roboto', sans-serif;
}

.collage {
	border: 1px solid #039BE5;
	border-radius: 3px;
	height: 75vh;
	overflow-y: scroll;
}

.collage .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.collage .column {
	flex: 33.3%;
	max-width: 33.3%;
	padding: 0 4px;
}

.pack {
	position: relative;
	text-align: center;
}

.collage .column img {
	opacity: 1;
	margin-top: 8px;
	margin-bottom: 8px;
	vertical-align: middle;
	border: 1px solid #039BE5;
	border-radius: 3px;
}

.collage .column span {
	opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 43px;
    color: grey;
    position: absolute;
    display: block;
    transition: .3s;
}

.collage .column img:hover {
	cursor: pointer;
}

.collage .column span:hover {
	color: #039BE5;
	cursor: pointer;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.collage .column {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.collage .column {
		flex: 100%;
		max-width: 100%;
	}
}

.welcome {
	text-align: center;
}

.welcome span {
	color: #039BE5;
	border: 1px solid #039BE5;
	border-radius: 3px;
	padding: 5px 40px;
	font-size: 4vw;
}

.description {
	text-align: center;
}

.description span {
	font-size: 3vw;
}

.description span a {
	color: #039BE5;
	text-decoration: none;
}